<h1> <%= @amusement_park.name %> </h1>
<h2> Admissions: $<%= @amusement_park.dollar_price %></h2>

Rides:<br>
<% @amusement_park.rides.each do |ride| %>
<% @ride = ride %>
<%= render "/shared/ride_table" %>
<% end %>

<h2>Average Thrill Rating of Rides:
<%= @amusement_park.average_thrill %>/10</h2>
